@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    background-color: #0f0f0f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    padding: 0;
    margin: 0;
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        height: 4px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: #1A1E25;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #3E4E5C;
    }
}

.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0 10px;
    background: #1A1E25;
    -webkit-app-region: drag;
}
.titlebar-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3E4E5C;
    -webkit-app-region: no-drag;
}
.titlebar-button:hover {
    background: #4E5E6C;
}
